<div class="container podcast_show">
	<h1><%= @podcast.title + " Podcast"%></h1>
	<p><%= @podcast.description %></p>

	<a href="<%= @podcast.itunes %>">iTunes</a>
	<a href="<%= @podcast.podbay %>">Podbay</a>
	<a href="<%= @podcast.stitcher %>">Stitcher</a>

</div>